<div class="flex h-screen bg-gray-100 justify-center">
  <div class="flex flex-col w-full space-y-4 p-4">
    <h1 class="text-3xl font-bold">Planify - Mi Familia</h1>
    <div class="flex flex-row justify-around">
      <app-family-section
        [user]="user"
        class="mb-4"
        (selectedFamily)="selectFamily($event)"
        (updatedFamilies)="reloadUserData()"
        (selectedFamilyRol)="asignSelectedFamilyRol($event)"
      ></app-family-section>

      <app-family-dashboard
        [family]="selectedFamily"
        [familyMembers]="familyMembers"
        class="mt-4 pl-48"
        [familyRol]="selectedFamilyRol"
        (updatedFamilyMembers)="updatedFamily()"
      ></app-family-dashboard>

      <app-events-dashboard
        [familyId]="selectedFamily?.id_familia"
        [userRole]="selectedFamilyRol"
      ></app-events-dashboard>
    </div>
  </div>
</div>
