<div class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-purple-200 rounded-lg shadow-lg w-96 p-6 relative">
  
    <button 
        class="absolute top-2 right-2 text-gray-600 hover:text-gray-900 text-[30px]" 
        (click)="onClose()"> 
        &times;
    </button> 
    <h1 class="text-xl font-bold text-center mb-4" mat-dialog-title>{{ data.title }}</h1>
  
    <div mat-dialog-content class="mb-4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ data.placeholder }}</mat-label>
        <input  matInput [(ngModel)]="inputData" />
      </mat-form-field>
    </div>
  
  
    <div div mat-dialog-actions class="flex justify-center mt-6" mat-dialog-actions>
      
      <button mat-button class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600" (click)="saveInput()">Guardar</button>
    </div>
    
  </div>
   
  
  </div>
  