<form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4">
    <input type="text" formControlName="nombre_usuario" placeholder="Usuario" class="input-field" />
    <div *ngIf="loginForm.get('nombre_usuario')?.invalid && loginForm.get('nombre_usuario')?.touched" class="text-red-500">
      Nombre de usuario es requerido.
    </div>
  
    <input type="password" formControlName="contrasena" placeholder="Contraseña" class="input-field" />
    <div *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched" class="text-red-500">
      Contraseña es requerida y debe tener al menos 6 caracteres.
    </div>
  
    <button type="submit" class="btn-primary" [disabled]="loginForm.invalid">Iniciar Sesión</button>
    <p class="text-red-500 mt-2" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
  