<form [formGroup]="registerForm" (ngSubmit)="register()" class="space-y-4">
  <input
    type="text"
    formControlName="nombre"
    placeholder="Nombre"
    class="input-field"
  />
  <div
    *ngIf="
      registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched
    "
    class="text-red-500"
  >
    Nombre es requerido.
  </div>

  <input
    type="text"
    formControlName="apellido_pat"
    placeholder="Apellido Paterno"
    class="input-field"
  />
  <div
    *ngIf="
      registerForm.get('apellido_pat')?.invalid &&
      registerForm.get('apellido_pat')?.touched
    "
    class="text-red-500"
  >
    Apellido paterno es requerido.
  </div>

  <input
    type="text"
    formControlName="apellido_mat"
    placeholder="Apellido Materno"
    class="input-field"
  />
  <div
    *ngIf="
      registerForm.get('apellido_mat')?.invalid &&
      registerForm.get('apellido_mat')?.touched
    "
    class="text-red-500"
  >
    Apellido materno es requerido.
  </div>

  <input
    type="email"
    formControlName="correo"
    placeholder="Correo"
    class="input-field"
  />
  <div
    *ngIf="
      registerForm.get('correo')?.invalid && registerForm.get('correo')?.touched
    "
    class="text-red-500"
  >
    Correo debe ser válido.
  </div>

  <input
    type="password"
    formControlName="contrasena"
    placeholder="Contraseña"
    class="input-field"
  />
  <div
    *ngIf="
      registerForm.get('contrasena')?.invalid &&
      registerForm.get('contrasena')?.touched
    "
    class="text-red-500"
  >
    Contraseña es requerida y debe tener al menos 6 caracteres.
  </div>

  <button type="submit" class="btn-primary" [disabled]="registerForm.invalid">
    Registrar
  </button>
  <p class="text-red-500 mt-2" *ngIf="errorMessage">{{ errorMessage }}</p>
</form>
