<div class="p-10 pl-28 h-screen  grid grid-cols-2  gap-20 ">
   
    <div class="">
      <h1 class="text-4xl font-bold text-purple-800 mb-6">Planify</h1>
      <div class="flex justify-center items-center gap-2 mb-6">
        <button (click)="abrirModal()" class="bg-purple-100 hover:bg-purple-200 rounded-lg w-14 h-14 flex items-center justify-center">
          <span class="material-icons text-black text-[30px]">add</span>
        </button>
        <h2 class="text-black font-medium text-[20px]">Agregar recordatorio</h2>
      </div>
      <div class="grid grid-cols-2 gap-4">
       
        <div class="bg-blue-200 rounded-lg p-4 text-center">
          <p class="text-lg font-bold">Familia</p>
          <span class="block text-2xl font-bold">{{recordatoriosFamily.length}}</span>
        </div>
        <div class="bg-yellow-200 rounded-lg p-4 text-center">
          <p class="text-lg font-bold">Personal</p>
          <span class="block text-2xl font-bold">{{recordatoriosPersonal.length}}</span>
        </div>
      </div>

      <app-reminder-dashboard ></app-reminder-dashboard>

    </div>
  <app-modal-form-add   *ngIf="modalAbierto" (cerrar)="cerrarModal() "></app-modal-form-add>
  
   <!-- Temporal, lo cambiare, en cuanto le den el visto bueno, es un posible ejemplo -->
   <app-incoming-activities></app-incoming-activities>
  </div>
  