<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <img src="assets/images/logo.png" alt="App Logo" class="w-24 h-24 mb-4" />

  <h1 class="text-3xl font-bold text-purple-600 mb-6">
    {{ isRegistering ? "Registro" : "Inicio de Sesión" }}
  </h1>

  <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
    <ng-container *ngIf="isRegistering; else loginTemplate">
      <app-register (registerSuccess)="toggleAuthMode()"></app-register>
    </ng-container>
    <ng-template #loginTemplate>
      <app-login (loginSuccess)="onLoginSuccess()"></app-login>
    </ng-template>
  </div>

  <button class="mt-4 text-purple-600 underline" (click)="toggleAuthMode()">
    {{
      isRegistering
        ? "¿Ya tienes una cuenta? Inicia Sesión"
        : "¿No tienes cuenta? Regístrate"
    }}
  </button>
</div>
