<div class="grid grid-cols-2 w-96 h-40">
    <div class=" bg-red-400  rounded-xl flex flex-col justify-around">
        <div class="flex flex-row justify-between">
            <input type="checkbox" >
            <span>1</span>
        </div>
        <span>Hoy</span>
    </div>
    <div class=" bg-green-300 rounded-xl flex flex-col justify-around">
        <div class="flex flex-row justify-between ">
            <input type="radio" >
            <span>1</span>
        </div>
        <span>Programados</span>
    </div>
    <div class=" bg-blue-400 rounded-xl flex flex-col justify-around">
        <div class="flex flex-row justify-between ">
            <input type="radio" >
            <span>1</span>
        </div>
        <span>Familia</span>
    </div>
    <div class=" bg-yellow-200 rounded-xl flex flex-col justify-around">
        <div class="flex flex-row justify-between ">
            <input type="radio" >
            <span>1</span>
        </div>
        <span>Eventos</span>
    </div>
</div>
