<div class="p-4 max-lg:h-screen max-lg:overflow-hidden">
  <!-- Mensaje cuando no hay actividades -->
  <div *ngIf="actividadesFiltradas.length === 0" class="text-center text-gray-500">
    No hay actividades disponibles.
  </div>
<div class="">
</div>
<div class="overflow-y-auto h-screen max-lg:pb30">
  <div
  *ngFor="let actividad of actividadesFiltradas.slice(0, actividadesMostradas)"
  class="   border border-gray-300 rounded-lg p-3 mb-4 flex flex-col md:flex-row justify-between items-start md:items-center gap-4 hover:shadow-md transition relative"
>
  <div class="flex flex-col">
    <h3 class="text-base font-semibold">{{ actividad.nombre }}</h3>
    <p class="text-sm text-gray-500">
      {{ actividad.fecha_inicio }} - {{ actividad.hora_inicio }}
    </p>
  </div>
  <div class="flex flex-col md:flex-row items-start md:items-center gap-4 w-full md:w-auto">
    <span class="text-sm text-gray-500">{{ actividad.fecha_fin }}</span>
    <div class="relative">
      <!-- Botón de los 3 puntos -->
      <button
        (click)="toggleMenu(actividad)"
        class="px-3 py-2 bg-gray-100 hover:bg-gray-200 rounded-lg focus:outline-none z-10"
      >
        ...
      </button>
      
      <div
        *ngIf="menuActivo === actividad.actividad_id"
        class="absolute right-0 top-full mt-2 w-32 bg-white border border-gray-300 rounded-lg shadow-lg z-20"
        [ngClass]="{ 'fixed left-2': screenIsSmall }"
      >
        <button
          class="block w-full text-left px-4 py-2 text-yellow-600 hover:bg-yellow-50"
          (click)="editarActividad(actividad)"
        >
          Editar
        </button>
        <button
          class="block w-full text-left px-4 py-2 text-red-600 hover:bg-red-50"
          (click)="eliminarActividad(actividad)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center mt-4 max-lg:pb-10" *ngIf="actividadesMostradas < actividadesFiltradas.length">
  <button
    (click)="verMas()"
    class="px-4 py-2 bg-purple-100 text-purple-700 rounded-lg hover:bg-purple-200 transition"
  >
    Ver más
  </button>
</div>

<!-- Modales -->
<div *ngIf="modalEditarActivo && actividadSeleccionada" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
  <app-modal-from-update-activities
    [actividadSeleccionada]="actividadSeleccionada"
    (cerrar)="modalEditarActivo = false"
    (ActividadEditada)="actualizarActividad($event)"
  ></app-modal-from-update-activities>
</div>

<div *ngIf="modalEliminarActivo && actividadSeleccionada" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
  <app-modal-eliminar-activties
    [actividadCreada]="actividadSeleccionada"
    (cerrar)="cerrarModalEliminar()"
    (ActividadDelete)="eliminarActividadConfirmada($event)"
  ></app-modal-eliminar-activties>
</div>
</div>

</div>
  