<div class="flex flex-col bg-purple-100 p-4 rounded-lg shadow-md w-48 fixed top-16 left-4">
    <ul>
      <li class="flex items-center justify-between px-3 py-2 rounded-lg text-gray-700 hover:bg-purple-200 cursor-pointer transition-colors duration-300 mb-2">
        <fa-icon [icon]="faList" class="text-gray-600 mr-2"></fa-icon>
        <span class="flex-1 font-semibold">Mis actividades</span>
        <span class="text-gray-600 font-semibold">24</span>
      </li>
      <li class="flex items-center justify-start px-3 py-2 rounded-lg text-gray-700 hover:bg-purple-200 cursor-pointer transition-colors duration-300 mb-2">
        <fa-icon [icon]="faUsers" class="text-gray-600 mr-2"></fa-icon>
        <span class="font-semibold">Mi Familia</span>
      </li>
      <li class="flex items-center justify-start px-3 py-2 rounded-lg text-gray-700 hover:bg-purple-200 cursor-pointer transition-colors duration-300">
        <fa-icon [icon]="faBell" class="text-gray-600 mr-2"></fa-icon>
        <span class="font-semibold">Recordatorio</span>
      </li>
    </ul>
  </div>
  